
/*{
  border: 1px solid red !important;
}*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1{
  font-family: 'Courgette', cursive;
  font-weight:normal;
  font-size: 30px;
}
h2{
  font-family: 'Courgette', cursive;
  font-weight: lighter;
  font-size: 20px;
}
h3{
  font-family: 'Alegreya', serif;
  font-size: 20px;
  font-weight:bold;
  color:black;
}
h4{
  font-family: 'Alegreya', serif;
  font-size: 18px;
  font-weight: lighter;
}
p{
  font-family: 'Alegreya', serif;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 20px;
}
#sleep{
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 580px;
}
#name{
  vertical-align: middle;
}
#scTrip{
  padding-top: 35px;
  vertical-align: middle;
  display: block;
  margin: auto;

}
#jacko{
  display: block;
  width: 90%;
  height: auto;
  vertical-align: middle;
  margin: auto;
  padding: 5%;
}
#titleO{
  text-align: left;
}
#titleT{
  text-align: right;
}
#vidS{
  display: block;
  margin: auto;
  vertical-align: middle;
  width: 600px;
  height: 350px;
}
.noLine{
  text-decoration: none;
}
.row{
  height: 1%;
  width: 100%;
  display: flex;flex-wrap;wrap;
}
.nospace{
margin: -10px;
border: -10px;
}
.nospace1{
margin-top: -15px;
margin-bottom: -15px;
}
.nospace2{
  margin-top: -5px;
  margin-bottom: -5px;
}

.textC{
  text-align: center;
}
.col-1{
  width: 8.33%;

}
.col-2{
  width:16.66%;
}
.col-3{
  width: 25%;
  margin: 10px;
}
.col-4{
  width:33.33%;
  text-align: center;
}
.col-5{
  width: 41.66%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.33;
}
.col-8{
  width: 66.66%;
}
.col-9{
  width: 75%;
}
.col-10{
  width:83.33%;
}
.col-11{
  width: 91.66%;
}
.col-12{
  width: 100%;
}
